version: "3.1"
services:
    mysql:
        image: mysql:5.7
        container_name: app-mysql
        volumes:
        - ./docker/mysql/data:/var/lib/mysql
        environment:
        - MYSQL_ROOT_PASSWORD=password
        - MYSQL_DATABASE=app
        - MYSQL_USER=app
        - MYSQL_PASSWORD=app
        ports:
        - "33306:3306"

    mysql-test:
        image: mysql:5.7
        container_name: app-mysql-test
        environment:
        - MYSQL_ROOT_PASSWORD=password
        - MYSQL_DATABASE=apptest
        - MYSQL_USER=app
        - MYSQL_PASSWORD=app

    webserver:
        image: nginx:alpine
        container_name: app-webserver
        working_dir: /app
        volumes:
        - .:/app
        - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
        - "30080:80"
        depends_on:
          - php-fpm

    php-fpm:
        build: docker/php-fpm
        container_name: app-php-fpm
        working_dir: /app
        volumes:
        - .:/app
        depends_on:
          - mysql
